.card {
    width: 250px;
    padding: 15px;
    /* border: 4px solid black; */
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
}
h3,p {
    margin: 0;
}
button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
}
.userData {
    text-align: center;
}